<!DOCTYPE html>

<html>
  <head>
    <title>Assignment 2 (Cont.)</title>
  </head>
  <body>
    <h2>Five MORE images that describe me</h2>
    <figure>
      <img src = "../images/FootballBrother.jpg" alt = "A football player wihout a helmet and a child with a helmet together holding an index finger up" width = "712px" height = "960px">
      <figcaption>My family supporting my endeavors in football.</figcaption>
    </figure>
    <figure>
      <img src = "../images/HackathonHackNY.jpg" alt = "A group of students in a classroom posing for a picture." width = "2048px" height = "1641px">
      <figcaption>I went to a hackathon and did things.</figcaption>
    </figure>
    <figure>
      <img src = "../images/FordhamPride.jpg" alt = "A student wearing pride attire for his school" width = "543px" height = "960px">
      <figcaption>I am showing off my Fordham pride here.<figcaption>
    </figure>
    <figure>
      <img src = "../images/FordhamFriends.jpg" alt = "A group of students outside of a grass fields posing together for a picture" width = "960px" height = "720px">
      <figcaption>Here is me with some of my friends from Fordham.</figcaption>
    </figure>
    <figure>
      <img src = "../images/CupsIllusion.jpg" alt = "A person showing another person an illusion using cups" width = "2048px" height = "1365px">
      <figcaption>I can amaze some people with my cup work.</figcaption>
    </figure>
    <h3>Click <a href = "../index.html">here</a> to go back to the original page</a>
  </body>
</html>
