.ArbitrageContainer {
  display: flex;
}

.flexContainer {
    text-align: center;
}

.flexItem {
  margin-top: 10%;
  text-align: center;
  max-width: 20%;
}

table {
  margin-bottom: 2%;
}

hr {
  margin-bottom: 2%;
}
