body {
    background-color: #195e8e;
    color: #50c4d2;
    font-family: 'Play', sans-serif;
}

p {
  font-family: 'Exo', sans-serif;
  color: #eeeae6;
  font-size: 25px;
}

nav {
    text-align: center;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    font-weight: 900;
    display: inline-block;
    margin-left: 80px;
    padding-top: 33px;
    position: relative;
}

nav a {
    font-family: 'Play', sans-serif;
    color: #eeeae6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: xx-large;
}

nav a:hover {
    color: #000000;
    width: auto;
    height: auto;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444444;
    position: absolute;
    bottom: 0;
    transition: all ease-in-out 300ms;
}

nav a:hover::before {
    width: 100%;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: solid 1px #50c4d2;
}

th {
  color: #ffc342;
}

td {
  color: #eeeae6;
}

hr {
  width: 80%;
  height: 5px;
  background-color: #ffc342;
}

.topic {
    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container h1 {
    font-size: 70px;
}

.header {
    font-family: 'Play', sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexItem {
    padding-left: 5%;
    text-align: justify;
}

.header {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.infoContainer {
    font-size: large;
    text-align: justify;
    padding-right: 5%;
    padding-left: 5%;
}

.infoContainer h2 {
    text-align: center;
}

.cryptoInfo {
    padding-right: 5%;
    position: relative;
    width: 100%;
    height: 100%;
    align-self: center;
    margin-bottom: 1%;
    margin: 2%;
}
