<!DOCTYPE html>
<html>
  <head>
    <title>Final Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Acme|Exo|Play" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <header>
      <div class="navContainer">
        <h1 class="topic">Trading Information</h1>
        <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="rates.html">Exchange Rates</a></li>
            <li><a href="arbitrage.html">Arbitrage</a></li>
            <li><a href="trade.html">Trade</a></li>
            <li><a href="info.html">More Info</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <hr>
    <h2 class="header">What is Arbitrage?</h2>
    <hr>
    <div class="flexContainer">
      <div class="flexItem">
        <p>
          Arbitrage is defined as the simultaneous buying and selling of securities,
          currency, or commodities in different markets or in derivative forms in order to
          take advantage of differing prices for the same asset. In our case, we use the
          Bellman-Ford algorithm to search for negative cycles for valid arbitrage opportunities.
        </p>
      </div>
      <div class="cryptoInfo">
        <img src="../images/arbitrage.png" width="700px" height="500px" alt="The triangular arbitrage principle.">
      </div>
    </div>
    <hr>
    <h2 class="header">What are Indicators?</h2>
    <hr>
    <div class="flexContainer">
      <div class="flexItem">
        <p>
          An indicator is defined as a thing, especially a trend or fact, that indicates
          the state or level of something. In our case, indicators are set in a chart
          based of on the market behaviors a market tends to follow. In technical analysis,
          a technical indicator is a mathematical calculation based on historic price, volume,
          or (in the case of futures contracts) open interest information that aims to forecast financial market direction.
          Technical indicators are fundamental part of technical analysis and are typically plotted as a chart pattern to try to predict the market trend.
          Indicators generally overlay on price chart data to indicate where the price is going, or whether the price is in an "overbought" condition or an "oversold" condition.
          Many technical indicators have been developed and new variants continue to be developed by traders with the aim of getting better results. New Indicators are often backtested
          on historic price and volume data to see how effective they would have been to predict future events.
        </p>
      </div>
      <div class="cryptoInfo">
        <img src="../images/indicator.png" width="700px" height="500px" alt="A candlestick graph with some technical indicators.">
      </div>
    </div>
    <hr>
    <h2 class="header">How does Trading Work?</h2>
    <hr>
    <div class="flexContainer">
      <div class="flexItem">
        <p>
          Trade involves the transfer of goods or services from one person or entity to another, often in exchange for money.
          A system or network that allows trade is called a market. An early form of trade, barter, saw the direct exchange of goods and services for other goods and
          services. Barter involves trading things without the use of money. Later, one bartering party started to involve precious
          metals, which gained symbolic as well as practical importance. Modern traders generally negotiate through a medium of exchange, such as
          money.
          <br><br>
          As a result, buying can be separated from selling, or earning. The invention of money (and later credit, paper money and non-physical money)
          greatly simplified and promoted trade. Trade between two traders is called bilateral trade, while trade involving more than two traders is called
          multilateral trade. Trade exists due to specialization and the division of labor, a predominant form of economic activity in which individuals and
          groups concentrate on a small aspect of production, but use their output in trades for other products and needs.
          <br><br>
          Trade exists between regions because different regions may have a comparative advantage (perceived or real) in the production of some trade-able
          commodity—including production of natural resources scarce or limited elsewhere, or because different regions' sizes may encourage mass production.
          In such circumstances, trade at market prices between locations can benefit both locations. Retail trade consists of the sale of goods or merchandise
          from a very fixed location (such as a department store, boutique or kiosk), online or by mail, in small or individual lots for direct consumption or
          use by the purchaser. Wholesale trade is defined as traffic in goods that are sold as merchandise to retailers, or to industrial, commercial, institutional, or
          other professional business users, or to other wholesalers and related subordinated services.
        </p>
      </div>
      <div class="cryptoInfo">
        <img src="../images/trade.jpeg" width="700px" height="500px" alt="Two dice with one showing 'Buy' and the other showing 'Sell'">
      </div>
    </div>
    <hr>
  </body>
</html>
