<!DOCTYPE html>
<html>
  <head>
    <title>Final Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../javascript/utilities.js"></script>
    <script type="text/javascript" src="../javascript/exchangeRates.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Acme|Exo|Play" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/rates.css">
  </head>
  <body>
    <header>
      <div class="navContainer">
        <h1 class="topic">Cryptocurrency Exchange Rates on Coinbase</h1>
          <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="rates.html">Exchange Rates</a></li>
              <li><a href="arbitrage.html">Arbitrage</a></li>
              <li><a href="trade.html">Trade</a></li>
              <li><a href="info.html">More Info</a></li>
            </ul>
          </nav>
      </div>
    </header>
    <hr>
  </body>
</html>
